<h2>Hello.</h2>

<p>Welcome to my site! I’m a software engineer specialising in Ruby and Rails, with a love for *nix systems,
NixOS and free software in general. I’m also a maker and dad, and here is where my thoughts get dumped.</p>

<h3>Find me:</h3>
<dl>
  <dt>Mastodon</dt>
  <dd><%= link_to "@tsvallender@ruby.social", "https://ruby.social/@tsvallender" %></dd>
</dl>
