<section class="content">
  <h2>/uses</h2>

  <p>This page is inspired by <%= link_to "/uses", "https://uses.tech" %>.</p>
  <p>For a more or less complete config, check out my <%= link_to "dotfiles", "https://git.tsvallender.co.uk/tsv/dotfiles" %>.</p>

  <hr>

  <h3>Hardware</h3>

  <p>Incoming… about to build a new PC.</p>

  <h3>Development environment</h3>

  <dl>
    <dt>Neovim</dt>
    <dd>The centrepiece</dd>
    <dt>tmux</dt>
    <dd></dd>
  </dl>

  <h3>Self-hosted</h3>

  <dl>
    <dt>Wallabag</dt>
    <dd></dd>
  </dl>

  <h3>Other stuff</h3>

  <dl>
    <dt>Home Assistant</dt>
    <dd>I run the fantastic <%= link_to "Home Assistant", "https://www.home-assistant.io/" %> for smart home stuff. I’m
    not doing anything too fancy with it currently, mostly lighting and TRVs.</dd>
  </dl>
</section>
