.learning_goal {
  margin: 1em auto;
  padding: .5em;
  background-color: var(--inset-background-color);
  border: 1px solid var(--border-color);

  > .created_at {
    text-align: right;
    font-size: .8em;
  }
}

ul#learning_goals {
  list-style-type: none;
}

ul.todos {
  list-style-type: none;
}

ul.tags {
  list-style-type: none;
  > li {
    display: inline;
  }
}
